[network]
default_server_name = Teddington
default_server_description = I named it after my dog, OK.
server_port = 10999
server_password = gamenight
max_players = 12
pvp = false
game_mode = endless
enable_snapshots = true
enable_autosaver = true
tick_rate = 30
connection_timeout = 8000
server_save_slot = 1
enable_vote_kick = true
pause_when_empty = true

[account]
server_token = {{server_token}}
