-- animals, monsters: opt "never", "rare", "default", "often", "always"
-- resouces: "never", "rare", "default", "often", "always"
-- unprepared are "never", "rare", "default", "often", "always"
return {
  override_enabled = true,
  animals={
    alternatehunt="default",
    angrybees="default",
    beefalo="default",
    beefaloheat="default",
    bees="default",
    birds="default",
    butterfly="default",
    frogs="default",
    hunt="default",
    penguins="default",
    perd="default",
    pigs="default",
    rabbits="default",
    tallbirds="default"
  },
  misc={
    boons="default",        --options are "never", "rare", "default", "often", "always"
    branching="default",    --options are "never", "least", "default", "most"
    day="longday",          --options are "onlyday", "onlydusk", "onlynight", "default", "longday", "longdusk", "longnight"
    lightning="default",    --options are "never", "rare", "default", "often", "always"
    loop="default",         --options are "never", "default", "always"
    season="longsummer",    --options are "onlysummer", "onlywinter", "default", "longsummer", "longwinter", "longboth", "shortboth"
    season_start="summer",  --options are "winter", "summer"
    touchstone="default",   --options are "never", "rare", "default", "often", "always"
    weather="default",      --options are "never", "rare", "default", "often", "always"
    world_size="large"      --options are "default", "medium", "large", "huge"
  },
  monsters={
    chess="default",
    deerclops="default",
    hounds="default",
    krampus="default",
    liefs="default",
    lureplants="default",
    merm="default",
    spiders="default",
    tentacles="default",
    walrus="default"
  },
  resources={
    flint="default",
    flowers="default",
    grass="default",
    marshbush="default",
    meteorshowers="default",
    meteorspawner="default",
    reeds="default",
    rock="default",
    rocks="default",
    sapling="default",
    trees="default"
  },
  unprepared={
    berrybush="default",
    carrot="default",
    mushroom="default"
  }
}
